/*
	RESET & BASIC SETUP
*/

* {
	margin: 0; 
	padding: 0; 
}

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #23d160;
	color: rgb(255, 255, 255); 
	padding: 20px;
	/* overflow: hidden; */
}

tr { 
	vertical-align: top;
}

/*
	STRUCTURE
*/
.post { 
	width: 550px; 
}

.post img {
	width: 500px;
	height: 332px;
}

.post .details {
	width: 500px;
	height: 332px;
}

.gamescript {
	width: 350px;
	height: 350px;
}
/*
	TYPOGRAPHY
*/
p { font-size: 1.2em; margin: 0 0 15px 0; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: floralwhite; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: floralwhite; }
a { color: #0066cc; }
a:hover { color: #ccc; }

