@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
$info: #ffb94a;
$white-smoke: #F5F5F5;
// Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// Update the sans-serif font family
// $family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$footer-background-color: $info;
// $primary-invert: $pink-invert;


// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
html {
  background-color: $white-smoke;
}

.members {
    height: 180px;
    width: 180px;
    top: 5%;
    bottom: 5%;
}

.content-gap {
  padding-left: 20px;
}

.member-content-adjustment {
  margin-top: 50px;
  margin-bottom: 50px;
}

.photo {
  position: relative;
}

.middle-text {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -35%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo:hover .members {
opacity: 0.3;
}

.photo:hover .middle-text {
  opacity: 1;
}

.member-description {
  /* background-color: #4CAF50; */
  color: black;
  font-size: 22px;
  padding: 16px 32px;
}
